
<% if @page.errors.full_messages.blank? %>
    swal('<%= t('helpers.form.create_success', model: Page.model_name.human) %>', '', 'success')
        .then(function(){
            window.location.href = '<%= admin_pages_url(@page, ignore_set_navigation: true) %>';
        });
<% else %>
    $( "span.full_error" ).remove();

    swal('<%= t('helpers.form.create_error', model: Page.model_name.human) %>', '<%= @page.errors.full_messages.join('\n') %>', 'error');

    <% @page.errors.messages.each do |message| %>
        $( "<span class='error full_error'><%= message[1].join('; ') %></span>" ).insertAfter( "#page_<%= message[0].to_s %>" );
    <% end %>
<% end %>
