<% readonly = (defined? readonly) ? readonly : false -%>
<%= stylesheet_link_tag 'admin/steps_drag', media: 'all' %>
<%= simple_form_for([:admin, @step], url: '/admin/steps/'+@step.id.to_s, remote: true, html: { multipart: true }) do | f | %>

    <div class='form-group'>
        <label class='col-sm-2 form-group'><%= Step.human_attribute_name('name') %></label>
        <div class='col-sm-10'>
            <%= f.input_field :name, class: 'an-form-control ', readonly: readonly %>
            <%= f.full_error :name, class: 'full_error' %>
        </div>
        <div class='clear'></div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 form-group'><%= Step.human_attribute_name('desc') %></label>
        <div class='col-sm-10'>
            <%= f.input_field :desc, class: 'an-form-control  froala-editor', readonly: readonly %>
            <%= f.full_error :desc, class: 'full_error' %>
        </div>
        <div class='clear'></div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 form-group'><%= Step.human_attribute_name('requirement') %></label>
        <div class='col-sm-10'>
            <div id='requirements'>
                <div class="drag-area col-sm-8 container" id="area" >
                <%= f.simple_fields_for :requirements_steps do |req| %>
                    <%= render 'requirements_step_fields', :f => req %>
                <% end %>
                <div id="add-item" >
                <%= link_to_add_association 'add', f, :requirements_steps %>
                </div>
                </div>
            </div>
        </div>
        <div class='clear'></div>
    </div>

    <div class='row'>
        <div class='col-sm-12'>
            <%= f.submit t('button.save'), class: 'btn btn-primary pull-right' unless readonly %>
            <%= link_to t('button.back'), back_admin_steps_path, class: 'btn btn-default pull-right m-r-10' %>
        </div>
    </div>
<% end %>

<%= content_for :post_scripts do %>
    <%= javascript_include_tag 'admin/steps' %>
<% end %>
