
<% if @article.errors.full_messages.blank? %>
    swal('<%= t('helpers.form.update_success', model: Article.model_name.human) %>', '', 'success')
        .then(function(){
            window.location.href = '<%= admin_articles_url(@article, ignore_set_navigation: true) %>';
        });
<% else %>
    $( "span.full_error" ).remove();

    swal('<%= t('helpers.form.update_error', model: Article.model_name.human) %>', '<%= @article.errors.full_messages.join('\n') %>', 'error');

    <% @article.errors.messages.each do |message| %>
        $( "<span class='error full_error'><%= message[1].join('; ') %></span>" ).insertAfter( "#article_<%= message[0].to_s %>" );
    <% end %>
<% end %>
