
<% if @project_category.errors.full_messages.blank? %>
    swal('<%= t('helpers.form.create_success', model: ProjectCategory.model_name.human) %>', '', 'success')
        .then(function(){
            window.location.href = '<%= admin_project_categories_url(@project_category, ignore_set_navigation: true) %>';
        });
<% else %>
    $( "span.full_error" ).remove();

    swal('<%= t('helpers.form.create_error', model: ProjectCategory.model_name.human) %>', '<%= @project_category.errors.full_messages.join('\n') %>', 'error');

    <% @project_category.errors.messages.each do |message| %>
        $( "<span class='error full_error'><%= message[1].join('; ') %></span>" ).insertAfter( "#project_category_<%= message[0].to_s %>" );
    <% end %>
<% end %>
