<div class="panel panel-default an-sidebar-search filter-condition-panel">

        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a class="collapsed" role="button" href="#projects_search_panel" data-toggle="collapse" 
                    data-parent="#accordion" aria-expanded="false" aria-controls="projects_search_panel">
            <%= t('helpers.form.search_filter_block') %>
                </a>
            </h4>
        </div>

        <div id="projects_search_panel" class="panel-collapse collapse" role="search panel">
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class='control-label'><%= t('helpers.form.keyword_search_label') %></label>
                    </div>
                    <div class="col-sm-10">
                        <input type='text' id='keyword_search' placeholder="<%= t('helpers.form.keyword_search') %>"
                                                               class='an-form-control no-redius border-bottom m-0 text_color'>
                    </div>
                    <div class="clear"></div>
                </div>

    
                <div class='form-group'>
                    <div class="col-sm-2">
                        <label class='control-label'><%= Project.human_attribute_name('abstract') %></label>
                    </div>
                    <div class='col-sm-10'>
                        <input type='text' name='abstract' placeholder='<%= t('helpers.form.placeholder', column: Project.human_attribute_name('abstract')) %>'
                            class='an-form-control no-redius border-bottom m-0 text_color filter-abstract filter-condition'>
                    </div>
                    <div class='clear'></div>
                </div>


                <div class='form-group'>
                    <div class="col-sm-2">
                        <label class='control-label'><%= Project.human_attribute_name('content') %></label>
                    </div>
                    <div class='col-sm-10'>
                        <input type='text' name='content' placeholder='<%= t('helpers.form.placeholder', column: Project.human_attribute_name('content')) %>'
                            class='an-form-control no-redius border-bottom m-0 text_color filter-content filter-condition'>
                    </div>
                    <div class='clear'></div>
                </div>


                <div class='form-group'>
                    <div class="col-sm-2">
                        <label class='control-label'><%= Project.human_attribute_name('idea_origin') %></label>
                    </div>
                    <div class='col-sm-10'>
                        <input type='text' name='idea_origin' placeholder='<%= t('helpers.form.placeholder', column: Project.human_attribute_name('idea_origin')) %>'
                            class='an-form-control no-redius border-bottom m-0 text_color filter-idea_origin filter-condition'>
                    </div>
                    <div class='clear'></div>
                </div>


                <div class='form-group'>
                    <div class="col-sm-2">
                        <label class='control-label'><%= Project.human_attribute_name('name') %></label>
                    </div>
                    <div class='col-sm-10'>
                        <input type='text' name='name' placeholder='<%= t('helpers.form.placeholder', column: Project.human_attribute_name('name')) %>'
                            class='an-form-control no-redius border-bottom m-0 text_color filter-name filter-condition'>
                    </div>
                    <div class='clear'></div>
                </div>


                <div class='form-group'>
                    <div class="col-sm-2">
                        <label class='control-label'><%= Project.human_attribute_name('status') %></label>
                    </div>
                    <div class='col-sm-10'>
                        <%= simple_form_for([:admin, Project.new], url: '/admin/projects/') do | f | %>
                            <%= f.input_field :status, name: 'status', collection: Project.statuses_i18n,
                                class: 'an-form-control select2 filter-status filter-select-condition', include_blank: true, selected: nil %>
                        <% end %>
                    </div>
                    <div class='clear'></div>
                </div>


                <div class='form-group'>
                    <div class="col-sm-2">
                        <label class='control-label'><%= Project.human_attribute_name('team_intro') %></label>
                    </div>
                    <div class='col-sm-10'>
                        <input type='text' name='team_intro' placeholder='<%= t('helpers.form.placeholder', column: Project.human_attribute_name('team_intro')) %>'
                            class='an-form-control no-redius border-bottom m-0 text_color filter-team_intro filter-condition'>
                    </div>
                    <div class='clear'></div>
                </div>


    
                <div class='form-group'>
                    <label class='col-sm-2 control-label'><%= Project.human_attribute_name('project_categories_id') %></label>
                    <div class='col-sm-10'>
                        <div class='col-sm-5 no-padding'>
                            <div class='col-sm-12 no-padding'>
                                <input type='number' name='project_categories_id_start' placeholder='<%= t('helpers.form.start_number') %>'
                                       class='an-form-control no-redius border-bottom m-0 text_color filter-project_categories_id filter-range-condition'>
                            </div>
                        </div>
                        <div class='col-sm-1 no-padding t-center'> ~ </div>
                        <div class='col-sm-6 no-padding'>
                            <div class='col-sm-12 no-padding'>
                                <input type='number' name='project_categories_id_end' placeholder='<%= t('helpers.form.end_number') %>'
                                       class='an-form-control no-redius border-bottom m-0 text_color filter-project_categories_id filter-range-condition'>
                            </div>
                        </div>
                        <div class='clear'></div>
                    </div>
                    <div class='clear'></div>
                </div>


                <div class='form-group'>
                    <label class='col-sm-2 control-label'><%= Project.human_attribute_name('project_visitors_count') %></label>
                    <div class='col-sm-10'>
                        <div class='col-sm-5 no-padding'>
                            <div class='col-sm-12 no-padding'>
                                <input type='number' name='project_visitors_count_start' placeholder='<%= t('helpers.form.start_number') %>'
                                       class='an-form-control no-redius border-bottom m-0 text_color filter-project_visitors_count filter-range-condition'>
                            </div>
                        </div>
                        <div class='col-sm-1 no-padding t-center'> ~ </div>
                        <div class='col-sm-6 no-padding'>
                            <div class='col-sm-12 no-padding'>
                                <input type='number' name='project_visitors_count_end' placeholder='<%= t('helpers.form.end_number') %>'
                                       class='an-form-control no-redius border-bottom m-0 text_color filter-project_visitors_count filter-range-condition'>
                            </div>
                        </div>
                        <div class='clear'></div>
                    </div>
                    <div class='clear'></div>
                </div>


                <div class="form-group pull-right">
                    <div class="col-sm-12">
                        <button class="btn btn-default reset-button">
                            <%= t('button.reset') %>
                        </button>
                        <button class="btn btn-info filter-button">
                            <%= t('button.filter') %>
                        </button>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>

</div>
