<div class="table-responsive">
    <table id='<%= tab_key %>_projects_table' data-tab_column_name='' data-tab_key='<%= tab_key %>' class='table table-bordered table_breaking projects_table m-b-20'>
        <thead>
            <tr>
                <th class='all' style="width:8.5%"><%= t('helpers.column_name.name') %></th>
                <th class='all' style="width:2%"><%= t('helpers.column_name.project_category') %></th>
                <th class='all' style="width:2.2%"><%= t('helpers.column_name.leader') %></th>
                <th class='all' style="width:3%"><%= t('helpers.column_name.updated_at') %></th>
                <th class='all' style="width:3%"><%= t('helpers.column_name.status') %></th>
                <th class='all' style="width:2.7%"><%= t('helpers.datatables.actions') %></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
