
<% if @resource_category.errors.full_messages.blank? %>
    swal('<%= t('helpers.form.update_success', model: ResourceCategory.model_name.human) %>', '', 'success')
        .then(function(){
            window.location.href = '<%= admin_resource_categories_url(@resource_category, ignore_set_navigation: true) %>';
        });
<% else %>
    $( "span.full_error" ).remove();

    swal('<%= t('helpers.form.update_error', model: ResourceCategory.model_name.human) %>', '<%= @resource_category.errors.full_messages.join('\n') %>', 'error');

    <% @resource_category.errors.messages.each do |message| %>
        $( "<span class='error full_error'><%= message[1].join('; ') %></span>" ).insertAfter( "#resource_category_<%= message[0].to_s %>" );
    <% end %>
<% end %>
