
<% if @role.errors.full_messages.blank? %>
    swal('<%= t('helpers.form.update_success', model: Role.model_name.human) %>', '', 'success')
        .then(function(){
            window.location.href = '<%= admin_roles_url(@role, ignore_set_navigation: true) %>';
        });
<% else %>
    $( "span.full_error" ).remove();

    swal('<%= t('helpers.form.update_error', model: Role.model_name.human) %>', '<%= @role.errors.full_messages.join('\n') %>', 'error');

    <% @role.errors.messages.each do |message| %>
        $( "<span class='error full_error'><%= message[1].join('; ') %></span>" ).insertAfter( "#role_<%= message[0].to_s %>" );
    <% end %>
<% end %>
